.cuerpo{
    font-family: 'Montserrat', sans-serif;
    color: black;
}


.cuerpo{
    background-image: linear-gradient(180deg, #00000017 0%,#00000017 100%), url(./imagenes/fondocolores.jpg);
    background-size: 100% 100%;
}  

.cabecera{
    width: 100%;
    height: 70px;
}

.navegacion{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    font-size: 20px;
}

.nav_link{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 4em;
} 


.link{
    text-decoration: none;
    color: black;
}

.logotipo img{
    width: 40px;
    height: 40px;
    cursor: pointer;
} 

/* Section  titulos*/

.contenedor{
    width: 600px;
    height: 250px;
    margin: 0 auto;
}

.nombre{
    font-size: 4rem;
    text-align: center;
}

.eslogan{
    text-align: center;
    font-size: 1.5rem;
}

/* Section Busqueda */

.formulario{
    margin: 0 auto;
    width: 600px;
    height: 50px;
}

.buscador{
    width: 500px;
    height: 30px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #ffffff69;
    border: 2px solid black;
    
    font-size: 20px;
    color: black;
}


.buscar{
    cursor: pointer;
    width: 85px;
    height: 35px;

    background: black;
    font-size: 20px;
    
    border: 4px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
}
/* Sugerencias */

.sugerencias{
    margin: 0 auto;
    height: 150px;
    width: 700px;    
}

.recorrer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Temas{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 4em;
}

.sugerencias img{
    width: 30px;
    height: 30px;
}

.Tema{
    text-decoration: none;
    color: black;
}

/* Pie de pagina */

.pie{
    font-size: 22px;
    color: black;
    text-align: right;
}

a:hover{
    color: yellow;
}